<div class="app-container">
  <!-- Header -->
  <mat-toolbar color="primary" class="app-header">
    <mat-icon class="app-icon">checkroom</mat-icon>
    <span class="app-title">LazyCloset</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Navigation Tabs -->
  <mat-tab-group class="main-tabs" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Upload">
      <ng-template matTabContent>
        <app-image-upload></app-image-upload>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="My Closet">
      <ng-template matTabContent>
        <app-closet-view></app-closet-view>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Outfit Generator" disabled>
      <ng-template matTabContent>
        <div class="coming-soon">
          <mat-icon class="coming-soon-icon">construction</mat-icon>
          <h2>Coming Soon!</h2>
          <p>Outfit generator will be available in the next update.</p>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
